.e1{
    margin-left:600px;
    
  }
  .e2{
    margin-left:300px;
  }
  .e3{
    margin-left:300px;
  }
  .e4{
    margin-left:300px;
  }
  .e5{
    margin-left:300px;
  }
  .e6{
    margin-left:300px;
  }
  .e7{
    margin-left:300px;
  }
  .e8{
    margin-left:300px;
  }
    
  .e11{
    margin-left:300px;
  }
  .e10{
    margin-left:300px;
  }
  .e12{
    margin-left:300px;
     height:80px;
    width:165px;
    
    }
  